params {

        reads           = "/scicore/home/egliadr/leeman0000/github/reads/**/*_R{1,2}.fastq.gz"

        illuminaclip    = "/scicore/home/egliadr/leeman0000/github/dbs/NexteraPE-PE.fa"

        db_rMLST        = "/scicore/home/egliadr/leeman0000/github/dbs/rMLST"
        bigsdb_rMLST    = "/scicore/home/egliadr/leeman0000/github/dbs/bigsdb-rMLST.txt"
        db_16s          = "/scicore/home/egliadr/leeman0000/github/dbs/16S"

        abricate_dbs    = "ncbi card resfinder megares argannot"
        rgi_db          = "/scicore/home/egliadr/leeman0000/github/dbs/rgi/localDB"
        deeparg_db      = "/scicore/home/egliadr/leeman0000/anaconda3/envs/deeparg_env/bin"
        resfinder_db    = "/scicore/home/egliadr/leeman0000/tools/resfinder/db_resfinder"
        resfinder_species = "Staphylococcus aureus"

}
